<div style="
    text-align:center;
    padding:12px;
    background:linear-gradient(90deg,#00a8ff,#2ecc71);
    color:white;
    font-size:20px;
    font-weight:bold;
">
🚗 Smart Vehicle Monitoring & Predictive Alert System
</div>
<h2>Vehicle Detail</h2>
ID: {{ vehicle.id }}<br>
Number: {{ vehicle.number }}<br>
Model: {{ vehicle.model }}
<nav style="
    display:flex;
    justify-content:space-between;
    padding:10px;
    background:#2f3640;
    color:white;
">
<div>🚗 Tracker</div>

<div>
<a href="{% url 'vehicle_list' %}" style="color:white;margin-right:10px;">Vehicles</a>
<a href="{% url 'logout' %}" style="color:white;">Logout</a>
</div>
</nav>
<footer style="
    text-align:center;
    padding:10px;
    background:#2f3640;
    color:white;
    margin-top:20px;
">
© 2026 Smart Vehicle Monitoring System | Developed by Pooja
</footer>